:root {
  --heading-color: #454b3c;
  --accent-color: #eaeee5;
  --default-font: "Quicksand", sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--default-font);
}

h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 36px;
  padding-bottom: 10px;
  color: var(--heading-color);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--heading-color);
  padding-top: 8px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

i {
  color: var(--heading-color);
  margin: 0 5px;
}

img {
  width: 100%;
  padding: 0px;
  border-radius: 15px;
  border: 1px solid var(--accent-color);
}

.navbar {
  padding-inline: 10px;
}

.navbar-brand {
  font-family: "Homemade Apple", cursive;
  font-size: 24px;
}

.nav-item {
  padding: 0px 10px;
}

.navbar-custom {
  background-color: var(--accent-color) !important;
}

.homepage-hero {
  background: var(--accent-color);
  text-align: center;
  margin: 0 auto 20px;
  padding: 150px 50px 100px;
}

.homepage-sections {
  max-width: 900px;
}

.more-button {
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--heading-color);
  font-weight: 300;
}

.more-button:hover {
  border: 1px solid var(--heading-color);
  background-color: #ffffff;
  color: var(--heading-color);
}

.title-detail {
  font-size: 18px;
}

.profile-image {
  border-radius: 50%;
  max-width: 350px;
}

.about-section {
  max-width: 900px;
  margin-top: 50px;
}

.contact-section {
  text-align: center;
  margin-top: 50px;
  background-color: var(--accent-color);
  padding: 20px;
}

.contact-section a {
  font-size: 24px;
}

.projects-section {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

footer {
  text-align: right;
  font-size: 16px;
  padding: 30px;
}

@media (max-width: 900px) {
  .homepage-hero {
    padding: 100px 25px 50px;
    margin-bottom: 50px;
  }

  .section-description {
    text-align: center;
    padding-bottom: 50px;
  }

  .about-section {
    text-align: center;
  }

  .image-row {
    text-align: center;
    margin-bottom: 50px;
  }

  .projects-section {
    max-width: 75%;
  }

  footer {
    text-align: center;
    font-size: 14px;
  }
}
